[user]
	name = Jon Waghorn
	email = jon.waghorn@gmail.com
[color]
	ui = auto
[gui]
	recentrepo = /Users/jon/Documents/Projects/eip/eip
	recentrepo = /Users/jon/Documents/Projects/tracks/tracks
	recentrepo = /Users/jon/Documents/Projects/invoicer/invoicer
	recentrepo = /Users/jon/Documents/Projects/cheekymonkey/cheekymonkey
